<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
        <add key="PlayingWithPhysics MyGet" value="https://www.myget.org/F/playingwithphysics/api/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="MartinZikmund" />
            <add key="ClearTextPassword" value="82eed5941958c29586f3ec0eee1cae1d00ab584e" />
        </github>
    </packageSourceCredentials>
</configuration>