<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>        
        <add key="CSharpMathNightly" value="https://nuget.pkg.github.com/verybadcat/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="MartinZikmund" />
            <add key="ClearTextPassword" value="82eed5941958c29586f3ec0eee1cae1d00ab584e" />
        </github>
    </packageSourceCredentials>
</configuration>